# Exercice - Vintage Auctions

In [58]:
import pandas as pd
fp = 'https://bit.ly/vintage-auctions'
df = pd.read_csv(fp)

## Phase d'analyse

In [59]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [60]:
df.isna().sum()

tx id           0
time            0
auction         0
color          23
shirt size      0
condition     153
dtype: int64

In [61]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
dtype: object

## Gestion du prix

### Replacement des potentielles "," par des "."

In [62]:
df['auction'] = df['auction'].replace(',', '.')
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

### Copie de la devise dans une colonne à part

In [63]:
df['currency'] = df['auction'].str[0]
df.head()

,tx id,time,auction,color,shirt size,condition,currency
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used,$

### Convertion du prix sans la devise en nombre réel

In [64]:
df['auction'] = df['auction'].str[1:].astype('float')
df.head()

,tx id,time,auction,color,shirt size,condition,currency
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,17.18,Puce,S,used,$
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,15.19,Aquamarine,L,never worn,$
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,7.58,Violet,L,used,$
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,9.10,Goldenrod,XS,NaN,$
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,8.22,NaN,2XL,used,$

In [65]:
df.dtypes

tx id          object
time           object
auction       float64
color          object
shirt size     object
condition      object
currency       object
dtype: object

## Gestion de l'heure