In [68]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)

# La méthode map de pandas

In [69]:
df['DoA'] = pd.to_datetime(df['Date of Arrest'])

In [70]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [71]:
df

          Date of Arrest  Age Convicted                 DoA
0    2014-07-16 14:59:18   77       Yes 2014-07-16 14:59:18
1    2002-12-19 22:17:59   28       Yes 2002-12-19 22:17:59
2    1994-06-28 09:31:40   21        No 1994-06-28 09:31:40
3    1985-05-14 09:52:17   45       Yes 1985-05-14 09:52:17
4    1985-05-25 14:06:28   39       Yes 1985-05-25 14:06:28
..                   ...  ...       ...                 ...
995  1992-02-04 14:24:25   72       Yes 1992-02-04 14:24:25
996  1996-04-29 18:03:23   68       Yes 1996-04-29 18:03:23
997  1980-07-15 21:59:27   87       Yes 1980-07-15 21:59:27
998  1999-07-05 17:16:12   27        No 1999-07-05 17:16:12
999  1996-03-17 18:29:25   57       Yes 1996-03-17 18:29:25

[1000 rows x 4 columns]

In [72]:
df = df.drop(columns=['Date of Arrest'])

In [73]:
df

     Age Convicted                 DoA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [74]:
df.DoA.dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

### Méthode 1

In [75]:
dow2weektime = {0: "DEBUT", 1: "DEBUT", 2: "MILIEU", 3: "MILIEU", 4: "MILIEU", 5: "WEEKEND", 6: "WEEKEND", }

In [76]:
df.DoA.dt.dayofweek.map(dow2weektime)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

### Méthode 2

In [77]:
id2str = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [78]:
id2str

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [79]:
id2str = {value: i for i, value in enumerate(id2str)}

In [80]:
id2str

{'MONDAY': 0,
 'TUESDAY': 1,
 'WEDNESDAY': 2,
 'THURSDAY': 3,
 'FRIDAY': 4,
 'SATURDAY': 5,
 'SUNDAY': 6}

In [81]:
id2str['MONDAY']

0

## Sauvegarder du contenu avec Pickle

In [82]:
import pickle

In [83]:
chemin_disque = 'dictionnaire.pkl'

# En écriture
with open(chemin_disque, 'wb') as f:
    pickle.dump(id2str, f)
    
# En lecture
with open(chemin_disque, 'rb') as f:
    objet = pickle.load(f)

In [84]:
objet

{'MONDAY': 0,
 'TUESDAY': 1,
 'WEDNESDAY': 2,
 'THURSDAY': 3,
 'FRIDAY': 4,
 'SATURDAY': 5,
 'SUNDAY': 6}

## Retour au cours

In [98]:
str2id = {i: value for i, value in enumerate(id2str)}

In [103]:
periode_semaine = {"MONDAY": "DEBUT", 
                   "TUESDAY": "DEBUT", 
                   "WEDNESDAY": "MILIEU", 
                   "THURSDAY": "MILIEU", 
                   "FRIDAY": "MILIEU", 
                   "SATURDAY": "WEEKEND", 
                   "SUNDAY": "WEEKEND"}

In [104]:
periode_semaine

{'MONDAY': 'DEBUT',
 'TUESDAY': 'DEBUT',
 'WEDNESDAY': 'MILIEU',
 'THURSDAY': 'MILIEU',
 'FRIDAY': 'MILIEU',
 'SATURDAY': 'WEEKEND',
 'SUNDAY': 'WEEKEND'}

In [105]:
id2str

{'MONDAY': 0,
 'TUESDAY': 1,
 'WEDNESDAY': 2,
 'THURSDAY': 3,
 'FRIDAY': 4,
 'SATURDAY': 5,
 'SUNDAY': 6}

In [106]:
df['Période semaine'] = df.DoA.dt.dayofweek.map(id2str).map(periode_semaine)

In [107]:
df

     Age Convicted                 DoA Période semaine
0     77       Yes 2014-07-16 14:59:18             NaN
1     28       Yes 2002-12-19 22:17:59             NaN
2     21        No 1994-06-28 09:31:40             NaN
3     45       Yes 1985-05-14 09:52:17             NaN
4     39       Yes 1985-05-25 14:06:28             NaN
..   ...       ...                 ...             ...
995   72       Yes 1992-02-04 14:24:25             NaN
996   68       Yes 1996-04-29 18:03:23             NaN
997   87       Yes 1980-07-15 21:59:27             NaN
998   27        No 1999-07-05 17:16:12             NaN
999   57       Yes 1996-03-17 18:29:25             NaN

[1000 rows x 4 columns]

## Convertir ... ... ...

In [108]:
df['Période semaine'].astype('category')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
Name: Période semaine, Length: 1000, dtype: category
Categories (0, object): []

## Convertir la colonne en type "category" [ORDINAL]

In [109]:
ordre = ['DEBUT', 'MILLIEU', 'WEEKEND']

In [112]:
df['Période semaine'] = df['Période semaine'].astype('category').cat.reorder_categories(ordre).asordered()

ValueError: items in new_categories are not the same as in old categories

## convertir la colonne "category" en "int" [ORDINAL]

In [113]:
df['Période semaine'] = df['Période semaine'].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

# Gérer les cycles (saisons) :

In [192]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)

df.rename(columns = {'Date of Arrest': 'DoA'}, inplace = True)

df.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [193]:
df.DoA = pd.to_datetime(df.DoA)

In [194]:
df.DoA.dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [195]:
df.DoA.dt.month

0       7
1      12
2       6
3       5
4       5
       ..
995     2
996     4
997     7
998     7
999     3
Name: DoA, Length: 1000, dtype: int64

In [196]:
print(df.DoA.dt.day.min())
print(df.DoA.dt.day.max())
print(df.DoA.dt.month.min())
print(df.DoA.dt.month.max())

1
31
1
12

In [197]:
colonne_temporaire = df.DoA.dt.month * 100 + df.DoA.dt.day
colonne_temporaire

0       716
1      1219
2       628
3       514
4       525
       ...
995     204
996     429
997     715
998     705
999     317
Name: DoA, Length: 1000, dtype: int64

In [198]:
AVANT_JANVIER = 0
AVANT_PRINTEMPS = 320
AVANT_ETE = 620
AVANT_AUTOMNE = 920
AVANT_HIVERS = 1220
FIN_ANNEE = 1232

bins = [AVANT_JANVIER, AVANT_PRINTEMPS, AVANT_ETE, AVANT_AUTOMNE, AVANT_HIVERS, FIN_ANNEE]
labels = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE', 'HIVER2']

saisons = pd.cut(colonne_temporaire, bins = bins, labels = labels)

In [199]:
saisons = saisons.str.replace('2', '')
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [200]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: object

In [201]:
ordre = ['AUTOMNE', 'HIVER', 'PRINTEMPS', 'ETE']
saisons = (saisons.astype('category').
           cat.as_ordered().
           cat.reorder_categories(ordre))

In [202]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (4, object): ['AUTOMNE' < 'HIVER' < 'PRINTEMPS' < 'ETE']

# Exerice : gestion des cycles (horaires)

In [209]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)

df.rename(columns = {'Date of Arrest': 'DoA'}, inplace = True)

df.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [210]:
df.DoA = pd.to_datetime(df.DoA)

In [211]:
colonne_temporaire = df.DoA.dt.hour * 100 + df.DoA.dt.minute
colonne_temporaire

0      1459
1      2217
2       931
3       952
4      1406
       ...
995    1424
996    1803
997    2159
998    1716
999    1829
Name: DoA, Length: 1000, dtype: int64

In [212]:
DEBUT_JOURNEE = -1
AVANT_NUIT = 325
AVANT_MATIN = 1613
AVANT_AM = 2212
FIN_JOURNEE = 2400

bins = [DEBUT_JOURNEE, AVANT_NUIT, AVANT_MATIN, AVANT_AM, FIN_JOURNEE]
labels = ['NUIT', 'MATIN', 'AM', 'NUIT2']

periodes = pd.cut(colonne_temporaire, bins = bins, labels = labels)

In [213]:
periodes = periodes.str.replace('2', '')
periodes.unique()

array(['MATIN', 'NUIT', 'AM'], dtype=object)

In [215]:
periodes.head()

0    MATIN
1     NUIT
2    MATIN
3    MATIN
4    MATIN
Name: DoA, dtype: object

In [216]:
ordre = ['NUIT', 'MATIN', 'AM']
periodes = (periodes.astype('category').
           cat.as_ordered().
           cat.reorder_categories(ordre))

In [217]:
periodes.head()

0    MATIN
1     NUIT
2    MATIN
3    MATIN
4    MATIN
Name: DoA, dtype: category
Categories (3, object): ['NUIT' < 'MATIN' < 'AM']

In [218]:
colonne_temporaire

0      1459
1      2217
2       931
3       952
4      1406
       ...
995    1424
996    1803
997    2159
998    1716
999    1829
Name: DoA, Length: 1000, dtype: int64

In [219]:
df

                    DoA  Age Convicted
0   2014-07-16 14:59:18   77       Yes
1   2002-12-19 22:17:59   28       Yes
2   1994-06-28 09:31:40   21        No
3   1985-05-14 09:52:17   45       Yes
4   1985-05-25 14:06:28   39       Yes
..                  ...  ...       ...
995 1992-02-04 14:24:25   72       Yes
996 1996-04-29 18:03:23   68       Yes
997 1980-07-15 21:59:27   87       Yes
998 1999-07-05 17:16:12   27        No
999 1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]