In [1]:
import pandas as pd

In [3]:
chemin = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(chemin)

In [4]:
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

### Exercice 1

In [24]:
exo1 = pd.Series(data = [1, 2, 3])

In [28]:
pd.cut(exo1, bins = [1, 2, 3], labels = ["A", "B"])

0    NaN
1      A
2      B
dtype: category
Categories (2, object): ['A' < 'B']

### Exercice 2

In [52]:
prefix = ["ten", "twen", "thir", "four", "fif", "six", "seven", "eigh", "nine"]
labels = [p + "ties" for p in prefix]

In [53]:
labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [54]:
exo2 = pd.Series(data = df['Age'])
df["Decade"] = pd.cut(exo2, bins = range(9, 99+1, 10), labels = labels)

In [59]:
df.head()

        Date of Arrest  Age Convicted      Label     Decade
0  2014-07-16 14:59:18   77       Yes  seventies  seventies
1  2002-12-19 22:17:59   28       Yes   twenties   twenties
2  1994-06-28 09:31:40   21        No   twenties   twenties
3  1985-05-14 09:52:17   45       Yes   fourties   fourties
4  1985-05-25 14:06:28   39       Yes   thirties   thirties