In [1]:
import pandas as pd

In [2]:
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)
df.shape

(1000, 3)

In [5]:
df.rename(columns = {"Date of Arrest": "DoA"}, inplace = True)

In [8]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

### Méthode 1

In [11]:
df["Year"] = df.DoA.str[:4]

In [12]:
df.head()

                   DoA  Age Convicted  Year
0  2014-07-16 14:59:18   77       Yes  2014
1  2002-12-19 22:17:59   28       Yes  2002
2  1994-06-28 09:31:40   21        No  1994
3  1985-05-14 09:52:17   45       Yes  1985
4  1985-05-25 14:06:28   39       Yes  1985

### Méthode 2

In [14]:
df.DoA = pd.to_datetime(df.DoA)

In [15]:
df.DoA.dt.year

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: int64

In [16]:
df.DoA.dt.hour

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [17]:
df.DoA.dt.second

0      18
1      59
2      40
3      17
4      28
       ..
995    25
996    23
997    27
998    12
999    25
Name: DoA, Length: 1000, dtype: int64

In [18]:
df.DoA.dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

### Gestion des dates

In [20]:
labels = ["six", "seven", "eigh", "nine", "zero", "ten", "twen",]
labels = [l + "ties" for l in labels]

In [21]:
from datetime import datetime

obj_dt = datetime(year = 1, month = 1, day = 1)

In [33]:
pd.cut(df.DoA.dt.year, bins = list(range(1959, 2029+1, 10)), labels = labels)

0       tenties
1      zeroties
2      nineties
3      eighties
4      eighties
         ...
995    nineties
996    nineties
997    eighties
998    nineties
999    nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eighties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']

### Exercice : Ajouter une colonne "Saison" (Été, Automne, Hiver, Printemps)