In [50]:
import numpy as np
import pandas as pd
url = 'https://bit.ly/missing-values'
df = pd.read_csv(url)

In [51]:
df.isna().sum()

color     129
rating    256
dtype: int64

In [52]:
df.isna().mean()

color     0.140676
rating    0.279171
dtype: float64

In [53]:
df.color.isna().astype('int8').head()

0    1
1    0
2    0
3    0
4    0
Name: color, dtype: int8

In [54]:
df

      color  rating
0       NaN    1.16
1       Red     NaN
2      Blue    2.54
3       Red    1.51
4       Red     NaN
..      ...     ...
912    Blue    3.40
913     Red     NaN
914     NaN    1.24
915  Yellow    2.64
916    Blue     NaN

[917 rows x 2 columns]

# Insérer une colonne pour renseigner la présence de valeur manquante [NUMERIQUE / ORDINAL]

In [55]:
# Ici, n'incluez que les noms des colonnes NUMERIQUES / ORDINALES
for nom_colonne in ["rating"]:
    index_colonne = df.columns.get_loc(nom_colonne)
    df.insert(index_colonne + 1, nom_colonne + '-nan', df[nom_colonne].isna().astype('int8'))

#### La touche finale pour les colonnes ordinales : "colonne.cat.codes"
#### La touche finale pour les colonnes numériques : "astype("int") ou astype("float")"

In [56]:
df.head()

  color  rating  rating-nan
0   NaN    1.16           0
1   Red     NaN           1
2  Blue    2.54           0
3   Red    1.51           0
4   Red     NaN           1

In [57]:
df.dtypes

color          object
rating        float64
rating-nan       int8
dtype: object

In [58]:
df.color = df.color.astype('category')

In [59]:
df.dtypes

color         category
rating         float64
rating-nan        int8
dtype: object

In [60]:
df = pd.get_dummies(df, dummy_na = True, columns = ['color']).head()

In [61]:
df.dtypes

rating          float64
rating-nan         int8
color_Blue        uint8
color_Orange      uint8
color_Red         uint8
color_Yellow      uint8
color_nan         uint8
dtype: object

In [65]:
df.to_csv('missing-values__clean.csv', index = None)
# index = None ---> Permet de ne pas créer de colonne d'indexation à l'index 0

# df.dropna()

#### Paramètres :

**how** : str
- "any" - Supprime les lignes dont au moins une des colonnes du subset a une valeur NaN
- "all" - Supprime les lignes dont toutes les colonnes du subset ont une valeur NaN

**subset** : list

* Liste des noms de colonnes à analyser

# Compléter des valeurs manquantes

In [3]:
df.color.isna().sum()

129

In [4]:
df.color.fillna('NULL') # Remplace les NaN par NULL

0        NULL
1         Red
2        Blue
3         Red
4         Red
        ...
912      Blue
913       Red
914      NULL
915    Yellow
916      Blue
Name: color, Length: 917, dtype: object

In [8]:
df.color.value_counts() # Retourne le nombre de ligne par valeur

Blue      323
Red       234
Orange    154
Yellow     77
Name: color, dtype: int64

In [7]:
df.color.mode() # Retourne la valeur la plus fréquante

0    Blue
dtype: object

In [9]:
df.rating.min()

1.0

In [10]:
df.rating.max()

5.0

In [11]:
df.rating.fillna(0)

0      1.16
1      0.00
2      2.54
3      1.51
4      0.00
       ...
912    3.40
913    0.00
914    1.24
915    2.64
916    0.00
Name: rating, Length: 917, dtype: float64